<%= form_for(@doctorlocation) do |f| %>
  <% if @doctorlocation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctorlocation.errors.count, "error") %> prohibited this doctorlocation from being saved:</h2>

      <ul>
      <% @doctorlocation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :doctorname %><br>
    <%= f.text_field :doctorname %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
