<%= form_for(@ask_doctor) do |f| %>
  <% if @ask_doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ask_doctor.errors.count, "error") %> prohibited this ask_doctor from being saved:</h2>

      <ul>
      <% @ask_doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <form class="form-style-9">

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </form>
<% end %>
